<a href="https://colab.research.google.com/github/JulianBasilio/OOP_58003/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [6]:
if 6>7:
  print("6 is greater than 4")
else: 
  print("6 is less than a number")

6 is less than a number

Python Comments

In [11]:
print("Hello, World")  #This is a comment

Hello, World

Python Variables

In [5]:
a=1
b,c=0,2
c,d,e=2,3,4

name="Ana"

print(e)
print(d)
print(name)

4
3
Ana

Casting

In [19]:
a=int(1)

print(a)

1

Type() function

In [20]:
a=int(2)
b=float(4.50)

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

Double quotes and Single Quotes

In [21]:
name = 'John'

print(name)

John

Case Sensitive

In [4]:
print(a)
A = "l"

print(A)

NameError: ignored

Multiple Variables with Single Value

In [2]:
f=g=h="Tony"

print(f)
print(g)
print(h)
print(f,g,h)

Tony
Tony
Tony
Tony Tony Tony

Output Variables

In [ ]:
print("Welcome to Python Programming")
x = "Welcome to"
y= "Python Programming"
print(x+" " + y)

Arithmetic Operations

In [ ]:
print(1+1)
print(1-1)
print(1*1)
print(int(1/1))
print(3//2)
print(3**2)

Assignment Operators

In [ ]:
p=5

p%=2   #Same as p = p%2
print(p)

Comparison Operators

In [13]:
s = 11
t = 12

s>t

False

Logical Operators

In [14]:
print(s>t and t>s)  
print(s>t or t>s)

False
True

Identity Operators

In [15]:
print(s>t and t>s)  
print(s>t or t>s)

False
True

In [17]:
print(s is t)
print(t is not s)

False
True

Bitwise Operators

In [16]:
q = 5    # binary 0101
v = 4

print(5|4)
print(5^4)

5
1

Identity Operators

In [18]:
age = int(input())

if age==18:
  print("Your age is allowed to vote")

18
Your age is allowed to vote