<a href="https://colab.research.google.com/github/JulianBasilio/OOP_58003/blob/main/Operations_and_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
a=10

print(10>9)
print(10<9)
print(10==9)

print(a>9)

True
False
False
True

bool() Function

In [ ]:
print(bool(1))
print(bool("Maria"))
print(bool('Ana'))

print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

Functions can Return a Boolean

In [ ]:
def myFunction():
  return True

print(myFunction())

True

Application 1

In [2]:
a=6 
b=7
print(a==b)
print(a!=a)

False
False

In [ ]:
if myFunction():
  print("True")
else:
  print("False")

True

Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(int(10/5))
print(10%5)
print(10/3)
print(10//3)
print(float(10**2))

15
5
50
2
0
3.3333333333333335
3
100.0

Bitwise Operators

In [ ]:
a = 60   #0011 1100
b = 13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>1)

12
61
49
120
30

Application 2

In [5]:
#Python Assignment Operators
x=3
x+=3
x-=3
x*=3
x/=3
x%=3

Logical Operators

In [ ]:
s = True
t = False

not(s and t)

True

In [ ]:
s is t

s is not t

True

#Control Structure

In [ ]:
g = 200
h = 100

if g>h:
  print("g is greater than h")

g is greater than h

Elif Statement

In [ ]:
if g>h:
  print("g is greater than h")
elif g<h:
  print("g is less than h")

g is greater than h

Else Statement

In [ ]:
if g>h:
  print("g is greater than h")
elif g<h:
  print("g is less than h")
else:
  print("g is equal to h")

g is equal to h

Short Hand If Statement...

In [ ]:
if g==h: print('g is equal to h')

g is equal to h

Short Hand If.. Else Statement

In [ ]:
print("G") if g>h else print("H")

G

Nested If... Else

In [ ]:
x = int(input())

if x>10:
  print("x is above 10 ")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
      else:
        print("but not above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

41
x is above 10
and also above 20
and also above 30
and also above 40

Application 3- Write a program (using if else) that determines if the input age is qualified to vote or not. The qualifying age is 18 years old and above.

In [ ]:
age=int(input())

if age>=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

24
You are qualified to vote

#Loop Statement

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', "Thursday", "Friday", "Saturday"]
season = ['rainy', 'sunny']

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [ ]:
for x in week:
  if x =="Friday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
# If you want to display Sunday to Friday
for x in week:
  print(x)
  if x=="Friday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

Application 4 - To display only "Friday"

In [ ]:
for x in week:
  if x=="Friday":
    print(x)
    break

Friday

While loop

In [ ]:
i = 1

while i<6:
  print(i)
  i+=1   #same as i = i +1

1
2
3
4
5

Application 5 - To display only no.2 using break statement

In [ ]:
i = 1

while i<6:
  if i==2:
    print(i)
    break
  i+=1

2